
input,button,textarea{
	appearance: none;
}
* {
	outline: 0 !important;
}

html {
	height: 100%;
}
body{
	margin: 0;
	font-family: $main-font !important;
	height: 100%;
    background-color: $white !important;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
a{
	transition: all 0.3s ease-in-out;
}
main {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px !important;
	}
}
.btns {
	text-align: center;
	&:hover {
		color: $white;
		text-decoration: none;
	}
}
.btn_standard {
	background-color: $blue;
	border-radius: 4px;
	color: $white;
	text-transform: uppercase;
}
.btn_donate:hover,.our_inspiration_item_inf .btn_donate:hover{
	background-color: #fca100;
	box-shadow: 0 5px 17px rgba(175, 113, 0, 0.3);
	transition: all 0.2s ease;
}