// colors
$white: #ffffff;
$marsala: #8c2a3c;
$dark: #282828;
$dark-semi: #333333;
$gray: #626262;
$blue: #23afcc;
$yellow: #ffc357;
$orange-light: #ffb32a;
$orange-dark: #f9a11b;
$orange-semi: #faa21b;
$orange: #fca100;
$gray-light: #b6b6b6;
$gray-semi: #b3b3b3;
$light-bg: #f9f7f4;
$light-semi: #f6f6f6;
$black: #000000;


/*$title-color: #282828;
$accent-color: #0098d8;
$accent-hover: #1680bd;
$accent-active: #0f6698;

$tag-color: #7d7d7d;*/

// fonts

$main-font: 'Merriweather', serif;
$sub-font: 'Roboto', sans-serif;
