<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="bottom_wrapper">
				<div class="bottom_wrap">
					<div class="ftr_logo">
						<a href="/">
							<img src="img/ftr-logo.png" alt="">
						</a>
					</div>
					<div class="socials_links">
						<a href="#" target="_blank" class="social_link"><img src="img/facebook.png" alt=""></a>
						<a href="#" target="_blank" class="social_link"><img src="img/twitter.png" alt=""></a>
						<a href="#" target="_blank" class="social_link"><img src="img/google-plus.png" alt=""></a>
					</div>
				</div>
				<div class="footer_wrap">
					<div class="copyright">
						<span class="copyright_info">© 2018 Goodcommerce. All Rights Reserved</span>
					</div>
					<div class="terms_links">
						<a href="#" class="term_link">Terms & Conditions</a>
						<a href="#" class="term_link">Privacy Policy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="all_pages">
		<div class="page_point"></div>
		<ul class="page_list">
			<li><a href="index.html">Index</a></li>
			<li><a href="login.html">Login</a></li>
			<li><a href="login-in.html">Login in</a></li>
			<li><a href="opportunities.html">Opportunities</a></li>
			<li><a href="sanergy.html">Sanergy</a></li>
			<li><a href="start-sanergy.html">Start Sanergy</a></li>
		</ul>
	</div>
</footer>