<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="ftr_logo">
					<a href="/">
						<img src="img/logo.png" alt="Ehvam logo">
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer_item">
					<span class="title">
						EHVAM
					</span>
					<p>Pioneering internationalc <br>
						spiritual & retreat center</p>
					<p>© 2018</p>

				</div>
			</div>

			<div class="col-lg-2 col-md-6">
				<div class="footer_item">
					<span class="title">
						Project
					</span>
					<ul class="menu-list">
						<li class="menu-item current-menu-item">
							<a href="#">Our path</a>
						</li>
						<li class="menu-item">
							<a href="#">Our community</a>
						</li>
						<li class="menu-item">
							<a href="#">The center</a>
						</li>
						<li class="menu-item">
							<a href="#">Changing the world</a>
						</li>
					</ul>

				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="footer_item">
					<span class="title">
						Contact us
					</span>
					<ul class="contacts">
						<li>
							<i class="far fa-map-marker-alt"></i>
							P.O. Box 107, <br>
							Arava Tsofar Israel <br>
							8683000
						</li>
						<li>
							<i class="fal fa-envelope"></i>
							<a href="mailto:info@ehvam.org" >info@ehvam.org</a>
						</li>
					</ul>

				</div>
			</div>

			<div class="col-lg-2 col-md-6">
				<div class="footer_item">
					<span class="title">
						Stay connected
					</span>
					<div class="socials_links">
						<a href="#" target="_blank" class="social_link"><i class="fab fa-facebook-square"></i></a>
						<a href="#" target="_blank" class="social_link"><i class="fab fa-pinterest-square"></i></a>
						<a href="#" target="_blank" class="social_link"><i class="fab fa-instagram"></i></a>
						<a href="#" target="_blank" class="social_link"><i class="fab fa-youtube"></i></a>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!--<div class="all_pages">-->
		<!--<div class="page_point"></div>-->
		<!--<ul class="page_list">-->
			<!--<li><a href="index.html">Index</a></li>-->
			<!--<li><a href="login.html">Login</a></li>-->
			<!--<li><a href="login-in.html">Login in</a></li>-->
			<!--<li><a href="opportunities.html">Opportunities</a></li>-->
			<!--<li><a href="sanergy.html">Sanergy</a></li>-->
			<!--<li><a href="start-sanergy.html">Start Sanergy</a></li>-->
		<!--</ul>-->
	<!--</div>-->
</footer>