<header class="header">
	<div class="container">
		<div class="row">
			<div class="top_wrap">
				<div class=" col-xl-2 col-md-8 col-4 pl-0">
					<div class="logo_wrap">
						<a href="/">
							<img src="img/logo.png" alt="Ehvam logo">
						</a>
					</div>
				</div>
				<div class="col-xl-10 col-md-4  col-8 pl-0 ">

					<div class="top_nav">
						<a href="/" class="top_nav_logo">
							<img src="img/logo.png" alt="Ehvam logo">
						</a>
						<ul class="menu-list">
							<li class="menu-item current-menu-item">
								<a href="#">Our path</a>
							</li>
							<li class="menu-item menu-item-has-children">
								<a href="#">Our community</a>
								<ul class="dropdown-list">
									<li class="menu-item"><a href="#">Our Guides</a></li>
									<li class="menu-item"><a href="#">Our Teachers</a></li>
									<li class="menu-item"><a href="#">Amuta Chrochma ve shita</a></li>
								</ul>
							</li>
							<li class="menu-item">
								<a href="#">The center</a>
							</li>
							<li class="menu-item">
								<a href="#">Changing the world</a>
							</li>
						</ul>
						<a href="#" class="btns btn_donate">Donate</a>

					</div>

					<div class="header_bar">

						<div class="header_search">
							<form role="search" method="get" id="searchform" class="header_form" >
								<input type="search" class="search-field form-control header_input" placeholder="Search" value="" name="s">
								<input type="submit" id="searchsubmit" value="Search">

							</form>
							<a href="#" class="header_btn icon-search"></a>

						</div>
						<ul class="language-select">
							<li class="active" data-lang="ua">En</li>
							<li data-lang="ru">Ger</li>

						</ul>

					</div>

					<a href="#" class="menu-button">Menu</a>
				</div>
			</div>
		</div>
	</div>
</header>