<head>
	<meta charset="utf-8">

	<title>Evham</title>

	<meta name="description" content="">

	<!-- Mobile-friendly viewport -->
	<meta name="viewport" content="user-scalable=1, width=device-width">

	<!-- Turn off "smart" recognition phone number -->
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-rim-auto-match" content="none">

	<!-- Style sheet link -->
	<link href="css/main.css" rel="stylesheet" media="all">
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
</head>

